@import '../variables.css';

.shareContainer {
    position: relative;
}

.shareIcon {
    width: 35px;
    height: 35px;
    background-color: var(--clr-lightGrayishBlue);
    border: none;
    border-radius: 50%;
    padding: 0.6rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.active {
    background-color: var( --clr-desaturatedDarkBlue);
}
.active img {
    filter: brightness(0) invert(1);
}


.popup {
    width: 240px;
    position: absolute;
    bottom: 3.7rem;
    left: -6rem;
    background-color: var(--clr-veryDarkGrayishBlue);
    color: var(--clr-lightGrayishBlue);
    padding: 1rem 0;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    z-index: 10;
}

.popup span {
    font-size: var(--font-paragraph);
    letter-spacing: 4px;
    color: var(--clr-grayishBlue);
}

.popup img {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.popup img:hover {
    transform: scale(1.1);
}

.arrow {
    position: absolute;
    bottom: -0.8rem;
    right: 47%;
    width: 0;
    height: 0;
    border-left: 0.8rem solid transparent;
    border-right: 0.8rem solid transparent;
    border-top: 0.8rem solid var(--clr-veryDarkGrayishBlue);
}

@media (max-width: 376px) {
    .active {
        position: absolute;
        z-index: 15;
        right: 0.05rem;
        bottom: -1.2rem;
    }
    .popup {
        width: 337.79px;
        bottom: -2.5rem;
        left: -19.1rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        justify-content: flex-start;
        padding-left: 2rem;
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
    }

    .arrow {
        visibility: hidden;
        opacity: 0;
    }
}